<div class="container mt-5 pt-5">
    <div class="col-12">
      <h2>NIVELES!</h2>
        <div class="row" >
            <div class="col-5 pl-5 mt-5">
                 <!-- Aquí empieza el listado -->
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">ENG</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let nivel of listarNiveles">
                        <th scope="row">{{nivel.id}}</th>
                        <td>{{nivel.ENG}}</td>
                
                      </tr>
                    </tbody>
                  </table>
            </div>

            <!-- Aquí empieza la gráfica -->
            <div class="col-7">
              <h1>Gráfica</h1>
              <br>
              <!-- Componente : Graficas del nivel -->
              <app-grafnivel></app-grafnivel>
            </div>

        </div>
    </div>



    
</div>