<!-- ======= Intro Section ======= -->
<section id="intro">
  <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
    <h1 class="mb-4 pb-0"><span>JPT</span><br> Consulting & Services</h1>
    <p class="mb-4 pb-0">20 Mar 2021, By.:: Nestor Martínez</p>
    <a href="https://www.youtube.com/watch?v=GN9sKp2OCog" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
    <a href="#" class="about-btn scrollto">Próximamente...</a>
  </div>
</section><!-- End Intro Section -->


    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6">
            <h2>App Angular - Nodejs</h2>
            <p>Esta app muestra en el Frontend los valores registrados en la Base de datos de manera automática,
              además se grafican los datos de forma estática.</p>       
              
              <p>Se creó la tabla "índice ambiental" en la Bd y es posible calcular
                el resultado de la siguiente ecuación en tiempo real: 
                índice ambiental = (0,5*Temperatura) + (0,15*Humedad) + (0,2*Nivel).
              </p>
          </div>
          <div class="col-lg-3">
            <h3>Condiciones:</h3>
            <p>1:. La Bd fue convertida de Sqlite a Mysql</p>
            <p>2:. Los datos de la Bd no se gráfican de manera automática </p>
          </div>
          <div class="col-lg-3">
            <h3>Fecha:</h3>
            <p>Lunes<br>30-03-2021</p>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    

    


